@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Koulen&family=Krona+One&display=swap');

.div-card{
    background-color: rgb(235 235 235);
    padding: 2px;
    border-radius: 7px;
    object-fit: cover;

    #img-item{
        height: 120px;
        width: auto;
        border-radius: 5px;
        object-fit: cover;
    }
}