@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Koulen&family=Krona+One&display=swap');

.fundo_princ {
    background-color: #322388;
    padding: 0px 0px 15px 0px;

    .fundo_crrsl {
        background-color: #322388;
        padding: 10px;

        #titulo-destaque {
            color: #fff;
            font-family: "Krona One", sans-serif;
            font-weight: 400;
            justify-self: center;
        }

        #linha {
            background-color: white;
            height: 3px;
            width: 100%;
            align-self: center;
            overflow: hidden;
        }
    }
    .elementos-dest{
        margin-top: 10px;
        ul{
            list-style: none;
            justify-content: space-evenly;
            display: flex;
        }
    }
}