@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&display=swap');

.container-principal{
    background-image: linear-gradient(to bottom, #DDDDDA, #F5F9FA);
    display: flex;
    margin: 50px;
    align-items: center;
    .text-principal{
        font-family: "Krona One", sans-serif;
        font-size: 20px ;
    }
    .text-principal{
        padding-left:20px ;
    }
    .container-capa{
        justify-content: end;
    }
    #Capa{
        height: 250px;
        width: auto;
        align-items: end;
        }
}