@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Koulen&family=Krona+One&display=swap');

.elemento {
    width: 200px;
    height: 304px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;

    .part1 {
        width: auto;
        height: auto;
        justify-self: center;

        #foto-dest {
            width: 200px;
            height: 255px;
            border-radius: 20px 20px 0px 0px;
        }

    }

    .part2 {
        height: 45px;
        background-color: #d2d2d2;
        border-radius: 0px 0px 20px 20px;
        
        #text {
            margin-left: 5px;
            font-family: "Koulen", sans-serif;
            font-size: medium;
        }
    }
}