@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Koulen&family=Krona+One&display=swap');

.fundo_dest {
    background-color: #d9d9d9;
    margin: 30px 0px -10px 0px;
    padding: 20px;
    overflow: hidden;
    height: 200px;
    font-family: 'Krona One', sans-serif;
    align-content: center;
    max-height: 160px;

    ul {
        list-style: none;
        justify-content: space-evenly;
        display: flex;
        gap: 20px;
        max-height: 155px;

        li {
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}